<div class="small-card d-block d-flex align-items-center m-2">
  <img src = "https://picsum.photos/200/300?grayscale" alt ="">
  <div class="small-card-content ms-1">
    <h3 class="small-card-h3">
      <%= teacher.first_name %> <%= teacher.last_name %>
    </h3>
    <p class ="small-card-p">Léa</p>
    <p class ="small-card-p">CP</p>
  </div>
</div>
