<p>Dashboard</p>
<div class = "m-5">

  <div class = "slider-box">
    <div class = "small-card">
        Prof
        Enfant
        <%=@parent_user.childen%>

        Class
    </div>
  </div>

  <div class ="rappel-box">
    <h3>Rappel - Sortie à la piscine demain</h3>
    <p>Pensez au maillot de bain</p>
  </div>

  <div class ="card">
    <img src="#" alt="Les élèves reproduisent les oeuvres de Kandinsky">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class = "homework">
    <div class ="homework_card">
    </div>
  </div>
</div>


<%=@children%>
