<div class = "banner d-flex">
  <div class = "img-banner">
   <img src ="https://transhumanistes.com/wp-content/uploads/2016/09/transition-numerique-plus1-1.jpg">
    <h1>Ecole numerique</h1>
    <p>Centraliser la gestion des activités scolaires de vos enfants</p>
  </div>
</div>
