.card{
  border: 1px solid #F3EFE0;
  border-radius: 4px;
  box-shadow: 5px 3px 15px #C7BCA1;
  cursor: pointer;
  height: 50vh;
}

.card img{
  height: 35vh;
  object-fit: cover;
}

.card p{
  font-family: barlow, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
  padding: 8px;
  overflow:hidden;
}
